 <h2 class="page-header">{{contents.module_name}}</h2>

 	<div>
 	 	{{#each contents.lessons}}
 			<h3>{{lesson_title}}</h3>
 			{{{video.source}}}
 			{{#if video.download}}
 				<a href="{{video.download}}">Download</a>
 			{{/if}}
 			<p>
 			{{sub_1}}
 			</p>
 			<p>
 			{{sub_2}}
 			</p>
 		{{/each}}

 	</div>


